@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qsqj0x');
  src:  url('fonts/icomoon.eot?qsqj0x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qsqj0x') format('truetype'),
    url('fonts/icomoon.woff?qsqj0x') format('woff'),
    url('fonts/icomoon.svg?qsqj0x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive:before {
  content: "\e90a";
}
.icon-trash-can:before {
  content: "\e900";
}
.icon-trash-can2:before {
  content: "\e901";
}
.icon-clipboard-edit:before {
  content: "\e902";
}
.icon-clipboard-edit2:before {
  content: "\e903";
}
.icon-clipboard-add:before {
  content: "\e904";
}
.icon-clipboard-add2:before {
  content: "\e905";
}
.icon-clipboard-remove:before {
  content: "\e906";
}
.icon-clipboard-remove2:before {
  content: "\e907";
}
.icon-clipboard-list:before {
  content: "\e908";
}
.icon-clipboard-list2:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-envelope2:before {
  content: "\e90e";
}
.icon-info:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e049";
}
.icon-th-menu:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\f08d";
}
.icon-plus:before {
  content: "\f05d";
}
.icon-search:before {
  content: "\f02e";
}
.icon-pencil:before {
  content: "\e90f";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-user:before {
  content: "\e971";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
