
html , body{

    margin: 0;
    padding: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
}


@font-face {
    font-family: oxygen;
    src: url(../font/fonts/Oxygen-bold.ttf);
}


#home{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 110px;
}

#newArticlesDiv{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
}


#newArticlesHeader{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
   font-family:sans-serif ;
    color: #004466;
}

#newCardContainer{
    position: absolute;
    width: 1480px;
    margin-top: 75px;
    margin-left: 15px;
    height: 210px;
}

.articleCard{
    position: absolute;
    width: 140px;
    height: 200px;
    background: white;
    margin-top:0;
    margin-left: 0;
    padding-bottom: 2px;
    border: 1px solid #80aaff;

}

#newCard1{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 165px ;

}
#newCard2{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 330px ;
}

#newCard3{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 495px ;
}

#newCard4{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 660px ;
}
.articleCardImage{
    position: absolute;
    width: 140px;
    height: 90px;
}

.articleCardTitle{
    position: absolute;
    font-family: sans-serif;
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 120px;
    direction: rtl;
}


#popularArticlesDiv{
    position: relative;
    background-color: snow;
    width: 100%;
    height: 300px;
    margin: 0;
}
#popularArticlesHeader{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-family:sans-serif ;
    color: #004466;
}
#popularCardContainer{
    position: absolute;
    width: 1480px;
    margin-top: 75px;
    margin-left: 15px;
    height: 210px;
}
#popularCard{
    position: absolute;
    width: 140px;
    height: 200px;
    background: white;
    margin-top:0;
    margin-left: 0;
    padding-bottom: 2px;
    border: 1px solid #80aaff;

}
#popularCard1{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 165px ;
}
#popularCard2{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 330px ;
}

#popularCard3{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 495px ;
}

#popularCard4{
    position: absolute;
    width:140px;
    height: 200px;
    margin-top:0;
    margin-left: 660px ;
}

#categoryDiv{
    position: relative;
    background-color: snow;
    width: 100%;
    height: 300px;
    margin: 0;
}

#categoryHeader{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-family:sans-serif ;
    color: #004466;
}

.categoryCard{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #5980a6;
    top: 80px;
    border: 1px solid black;
}

.category{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color:#e6f7ff;
}


