
html , body{

    margin: 0;
    padding: 0;
}

#navigator{
      position: fixed;
      background-color: #0f0f0a;
      margin: 0;
      width: 100%;
      height: 70px;
      bottom: 0;
      padding-left: 6%;
      padding-right: 6%;

}
#homeButtonDiv{
    position: relative;
    margin-top: 18px;
    float: left;
    width: 10%;
    margin-left: 6%;
    margin-right: 6%;
}

#homeButton{
    position: relative;
    color: aqua;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition:color 0.1s  ;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;


}

#searchButtonDiv{

    position: relative;
    margin-top: 18px;
    float: left;
    width: 10%;
    margin-left: 6%;
    margin-right: 6%;

}

#searchButton{
    position: relative;
    color: #5980a6;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition:color 0.1s ;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;

}


#bookmarkButtonDiv{

    position: relative;
    margin-top: 20px;
    float: left;
    width: 10%;
    margin-left: 6%;
    margin-right: 6%;


}

#bookmarkButton{
    position: relative;
    color: #5980a6;
    font-size: 28px;
    margin-top: 25px;
    cursor: pointer;
    transition:color 0.1s ;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
}


#accountButtonDiv{

    position: relative;
    margin-top: 18px;
    float: left;
    width: 10%;
    margin-left: 6%;
    margin-right: 6%;
}

#accountButton{
    position: relative;
    color: #5980a6;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition:color 0.1s ;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
}

