
#profile{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 560px;
    margin: 0 ;
    padding: 0;
    display: none;
}

#profileHeader{
    position: relative;
    font-family: sans-serif;
    padding: 0;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    color: #004466;
}

#emailField{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    height: 30px;
    font-family: sans-serif;
    font-size: 1em;
}
#emailLabel{
    position: relative;
}
#emailLabel p{
    position: relative;
    width: 80%;
    text-align: center;
    margin: 50px 10% 0 10%;
    font-family: sans-serif;
    font-weight: bold;
    color: #004466;
}
#passwordField{
    position: relative;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

#passwordLabel{
    position: relative;
}

#passwordLabel p{
    position: relative;
    width: 80%;
    text-align: center;
    margin: 30px 10% 0 10%;
    font-family: sans-serif;
    font-weight: bold;
    color: #004466;
}

#logInButton{
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
    height: 40px;
}