
.clear{
    clear: both;
}

#dashboard{
    margin: 0;
    padding: 0;
}

#userPanel{
    position: relative;
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
    overflow: auto;
}

#userPanel h1{
    position: relative;
    margin: 25px 5% 0 5%;
    width: 90%;
    padding: 0;
    font-family: sans-serif;
    color: #004466;;
}

.button{
    position: relative;
    width: 110px;
    height: 110px;
    border: solid black 1px;
    margin: 20px 6% 0 6%;
    float: left;
    border-radius: 5px;
}

.button p{
    font-size: 40px;
    width: 30%;
    margin: 30px 35% 0 32% ;

}

#authorPanel{
    position: relative;
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
    overflow: auto;
}

#authorPanel h1{
    position: relative;
    margin: 25px 5% 0 5%;
    width: 90%;
    padding: 0;
    font-family: sans-serif;
    color: #004466;;
}

#adminPanel{
    position: relative;
    margin: 0;
    padding: 0;
    height: 580px;
    width: 100%;
    overflow: auto;
}

#adminPanel h1{
    position: relative;
    margin: 25px 5% 0 5%;
    width: 90%;
    padding: 0;
    font-family: sans-serif;
    color: #004466;;
}