#favoriteList{
    position: relative;
    margin:0 ;
    padding: 0 0 100px 0;
    width: 100%;
    height: auto;
    overflow: auto;
}

#favoriteHeader{
    position: relative;
    color: #004466;
    font-family: sans-serif;
    width: 80%;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 30px;
}

.favoriteCard{
    position: relative;
    border: solid 1px #80aaff;
    width: 39%;
    height: 150px;
    margin: 20px 5% 0 5%;
    float: left;
}

.favoriteCardImage{
    position: relative;
    width: 100%;
    height: 50%;
}

.favoriteCardTitle{
    position: relative;
    width: 80%;
    margin: 10px 10%  10%;
    overflow: hidden;
    font-family: sans-serif;

}